---
import Navigation from './Navigation.vue'
---
<header>
	<div class="container header-container">
		<div class="icons-left">Search</div>
		<div class="logo-container">
			<img srcset="//cdn.shopify.com/s/files/1/0583/3424/9152/files/First_Avenue_Decor_Logo_-_1_de88089d-8658-4a50-b596-4446f7306cbb_520x.png?v=1647890053 1x, //cdn.shopify.com/s/files/1/0583/3424/9152/files/First_Avenue_Decor_Logo_-_1_de88089d-8658-4a50-b596-4446f7306cbb_520x@2x.png?v=1647890053 2x" src="//cdn.shopify.com/s/files/1/0583/3424/9152/files/First_Avenue_Decor_Logo_-_1_de88089d-8658-4a50-b596-4446f7306cbb_520x.png?v=1647890053" loading="lazy" class="header__heading-logo" width="2285" height="139" alt="First Avenue Decor" />
		</div>
		<div class="icons-right">Search</div>
	</div>
	<Navigation />
</header>

<style lang="scss">
	header {
		display: grid;
		grid-template-columns: 100vw;
		grid-template-rows: auto auto;
		grid-template-areas: 
			"header"
			"naviagtion";
		justify-items: center;
	}

	nav {
		grid-template: navigation;
	}

	.header-container {
		grid-area: header;
		display: grid;
		grid-template-columns: 20px 1fr 20px;
		grid-template-rows: auto;
		grid-template-areas: 
			"icons-left logo icons-right";
		padding: 24px 8px 0;
		margin-bottom: 12px;
	}

	.icons-left {
		grid-area: icons-left;
		justify-self: start;
	}

	.logo-container {
		grid-area: logo;
		justify-self: center;

		img {
			width: 100%;
			height: auto;
		}
	}

	.icons-right {
		grid-area: icons-right;
		justify-self: end;
	}
</style>
