---
import { getProduct } from '../../store/products'
import Layout from '../../layouts/Layout.astro'
import ProductMedia from '../../components/products/ProductMedia.vue'
import ProductPurchaseArea from '../../components/products/ProductPurchaseArea.vue'

const { handle } = Astro.params

const product = await getProduct(handle)
---
<Layout title={product.title}>
  <div class="product">
    <div class="product-media-container">
      <ProductMedia product={product} />
    </div>
    <div class="purchase-area-container">
      <ProductPurchaseArea client:load product={product} />
    </div>
    <div class="similar-products-container"></div>
  </div>
</Layout>

<style lang="scss">
@import '../../styles/variables.scss';

.product {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @media(min-width: $breakpoint-tablet) {
    display: grid;
    grid-template-columns: 1fr minmax(400px, 1fr);
    grid-template-rows: auto;
    column-gap: 32px;
    row-gap: 48px;
    justify-items: stretch;
    grid-template-areas: 
      "product-media purchase-area"
      "similar-products similar-products";
  }
}

.product-media-container {
  background-color: yellow; height: 300px;
  grid-area: product-media;
}

.purchase-area-container {
  border: 1px solid green;
  grid-area: purchase-area;
}

.similar-products-container {
  background-color: pink; height: 300px;
  grid-area: similar-products;
}
</style>
