---
import Layout from '../../layouts/Layout.astro'

const { handle } = Astro.params;
---
<Layout title="Fine Timeless Style for Homes Everywhere">
  <div>{handle}</div>
</Layout>

<style lang="scss">

</style>
